.first1 {
  display: flex;
  align-items: center;
  margin-top: 6.400rem;
}
.body{
  background: rgb(76, 139, 240);
}

.reg_container{
    width: 270px;
}

.font {
  font-size: x-large;
  font-weight: bold;
  text-align: center;
} 
.form-group div {
  display: flex;
  gap: 5px;
}
@media screen and (min-width: 300px) {
  .reg_container{
    width: 340px;
  }
}
@media screen and (min-width: 540px){
  .reg_container{
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .reg_container{
    width: 600px;
  }
}
