.first1 {
  display: flex;
  align-items: center;
  height: 100vh;
  margin-bottom: 20px;
}
.body{
  background: rgb(76, 139, 240);
}

.reg_container{
    width: clamp(343px, 60%, 600px);
}

.font {
  font-size: x-large;
  font-weight: bold;
  text-align: center;
} 
.form-group div {
  display: flex;
  gap: 5px;
}
@media screen and (max-width: 1000px) {
  .first1{
      display: block;
      height: 50vh;
      margin-top: 20vh;
  }
}