.text-login {
   display: flex;
   align-items: center;
   justify-content: center;
}
.text-login p {
    font-weight: bold;
    font-size: 26px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 2px;
}
