.logout-btn{
    margin: 20px;
    display: flex;
    justify-content: flex-end;
    margin-right: 8px;
    cursor: pointer;
}
.logout-btn button{
    font-weight: 700;
    padding: 5px 10px;
    border-radius: 5px;
    background:rgb(9, 27, 64);
    color: white;
    border: none;
}
.logout-btn button:hover{
    background-color: rgb(36, 110, 228);
}
.alert {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.alert p {
    border: 1px solid black;
    padding: 6px;
    font-weight: bold;
    border-radius: 5px;
}
.publish-btn button {
    font-weight: bold;
}
.form-text label{
    font-weight:500;
    margin-top: 15px;
    font-size: 20px;
}
.form_container{
    width: 270px;
}
.first {
    display: block;
    margin-bottom: 20px;
}
.publish-btn{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.publish-btn button {
    font-weight: bold;
}
.logout-btn{
    margin: 20px;
}
@media screen and (min-width: 350px){
    .form_container{
        width: 350px;
    }
}
@media screen and (min-width: 568px) {
    .first{
        display: block;
    }
    .form_container{
        width: 540px;
    }
}
@media screen and (min-width: 768px) {
    .first{
        display: flex;
        align-items: center;
        margin: 10px;
    }
    .form_container{
        width: 600px;
    }
}
@media screen and (min-width: 1000px){
    .first{
        display: flex;
        align-items: center;
        margin: 10px;
    }
    .form_container{
        width: 850px;
    }
}








