.containers {
    margin-top: 20px;
    background-color: rgb(9, 27, 64);
}

.rows {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.columns {
    padding: 1rem 2rem;
    max-width: 100%;
}

.gmail {
    display: flex;
    cursor: pointer;
}
.gmail > p {
    margin-top: -6px;
    padding: 0px 8px;
}

.phone {
    display: flex;
    cursor: pointer;
}
.phone > p {
    margin-top: -6px;
    padding: 0px 4px;
}

.location {
    display: flex;
    cursor: pointer;
}
.location > p {
    margin-top: -6px;
    padding: 0px 8px;
}

hr{
    border-color: white;
}

@media screen and (min-width: 768px) {
 .rows{
    flex-direction: row;
 }   
 .columns{
    width: 45%;
 }
}
@media screen and (min-width: 1000px) {
    .rows{
        flex-direction: row;
        justify-content: center;
        gap: 2.75rem;
     }   
     .columns{
        width: 30%;
     }
     .social-icon{
        display: flex;
     }
}