body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bground {
    background-color: aliceblue;
    width: 60%;
    margin: auto;
    border-radius: 1rem;
    height: 80px;
    transform: translateY(50%);
}
.parent {
    display: flex;
    justify-content: space-between;
    padding-inline: 20px;
}
.btn-div{
    display: flex;
    align-items: center;
}
.btn-div button{
    font-weight: 600;
}
.cont-bground {
    background-color: rgb(76, 139, 240);
    height: 300px;
}
