.background{
    background-color: rgb(9, 27, 64);
}
.containers{
    max-width: 1200px;
}
.rows {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 70vh;
}
.columns{
   width: 100%;
   padding: 0% 15px;
   margin-top: 5vh;
}

@media screen and (min-width: 760px) {
    .columns{
        width: 50%;
        margin-top: 4rem;
    }
    .rows{
        height: 40vh;
    }
}

@media screen and (min-width: 1000px) {
    .columns{
        width: 30%;
        margin-top: 3rem;

    }
    .rows{
        display: flex;
        justify-content: center;
    }
}