.login_container{
    width: 270px;
}
.font {
    font-size: x-large;
    font-weight: bold;
    text-align: center;
} 
.form-btn {
    display: flex;
}
.form-btn button{
    margin-left: 0.62rem;
}
.text{
    text-align: center;
}
.first2 {
    display: flex;
    align-items: center;
    height: 60vh;
    margin-top: 4.375rem;
}
@media screen and (min-width: 300px) {
    .login_container{
      width: 340px;
    }
  }
  @media screen and (min-width: 540px){
    .login_container{
      width: 450px;
    }
  }
  @media screen and (min-width: 768px) {
    .login_container{
      width: 600px;
    }
  }
