.login_container{
    width: clamp(340px, 55%, 500px);
}
.font {
    font-size: x-large;
    font-weight: bold;
    text-align: center;
} 
.form-btn {
    display: flex;
}
.form-btn button{
    margin-left: 0.62rem;
}
.text{
    text-align: center;
}
@media screen and (max-width: 1000px) {
    .first1{
        display: block;
        height: 50vh;
        margin-top: 20vh;
    }
}